.main {
background-color: transparent;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2378bccc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%231960aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2373b4c5' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231750a3' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%236eacbe' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2316409c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2369a5b8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23143096' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23649db1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2313208f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%235f95aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23111088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.streamlit-expanderContent {
    background-color: rgba(128,128,128, .75);
    padding-top: 5px;
}