<table class="example collapse">
  <thead>
    <tr>
      {% for c in columns %}
      <th>{{ c }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
     {% for row in rows %}
     <tr>
     {% for k, v in row.items() %}
     {% if v == 'a' %}
     <td><div class="red-circle">{{ row.letter }}</div></td>
     {% else %}
     <td><div>{{ v }}</div></td>
     {% endif %}
     {% endfor %}
     </tr>
     {% endfor %}
   </tr>
  </tbody>
</table>
<style>

table {
  border: thin solid lightgray;
}

table th,
table td {
  border: thin solid lightgray;
  min-width: 75px;
  text-align: center;
  padding: 5px;
}

table tr>th {
text-align: center;
color: {{ header_color|default("blue", true) }};
background-color: {{ background_color|default("yellow", true) }};
}

</style>